<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>WSD App</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" type="image/png" href="../assets/img/konpyuuta.png">
\t<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

<body>
    <div>
        <h1>CSC301 Project, Template Blank Page.</h1>
    </div>

    

    <div>
        <li>
            <p><a href="index.html">Back to main.</a></p>
        </li>
    </div>

    <script type="module" src="../js/ui.js"></script>
</body>
</html>